[submodule "pcre"]
	path = pcre
	url = ../../cpp-port/pcre
[submodule "id3lib"]
	path = id3lib
	url = ../../cpp-port/id3lib
[submodule "libmpg123"]
	path = libmpg123
	url = ../../cpp-port/libmpg123
[submodule "libarchive"]
	path = libarchive
	url = ../../cpp-port/libarchive
[submodule "idn"]
	path = idn
	url = ../../cpp-port/idn
[submodule "archive"]
	path = archive
	url = ../../cpp-port/archive
[submodule "mpg123"]
	path = mpg123
	url = ../../cpp-port/mpg123
[submodule "unac"]
	path = unac
	url = ../../cpp-port/unac
	branch = main
[submodule "pugixml"]
	path = pugixml
	url = ../../cpp-port/pugixml
	branch = main
[submodule "minizip"]
	path = minizip
	url = ../../cpp-port/minizip
	branch = main
[submodule "zlib"]
	path = zlib
	url = ../../cpp-port/zlib
	branch = main
[submodule "stb"]
	path = stb
	url = ../../cpp-port/stb
	branch = main
[submodule "openddlparser"]
	path = openddlparser
	url = ../../cpp-port/openddlparser
	branch = main
[submodule "zip"]
	path = zip
	url = ../../cpp-port/zip
	branch = main
[submodule "zstd"]
	path = zstd
	url = ../../cpp-port/zstd
	branch = main
[submodule "glm"]
	path = glm
	url = ../../g-truc/glm
	branch = master
[submodule "tinyobjloader"]
	path = tinyobjloader
	url = ../../cpp-port/tiny-tinyobjloader
	branch = main
